@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Public Sans', sans-serif;
}

.padding-lr {
    padding: 40px 30px;
}

.padding-lg {
    padding: 60px 40px;
}

.padding-tb {
    padding: 50px 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.nav-bg, .footer, .header, .down-content-bg{
    background: #80b1f5;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav .logo {
    font-size: 24px;
    color: #f9faf8;
}

nav .navbar ul {
    display: flex;
    list-style: none;
}

nav .navbar ul li {
    margin-right: 15px;
}

nav .navbar ul li:last-child {
    margin-right: 0;
}

nav .navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #1f2937;
    text-transform: uppercase;
    font-weight: bold;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.about-content .box {
    flex: 1;
    text-align: center;
}

.about-content .box .box-img img {
    width: 100%;
}

.slogan {
    background-color: #e5e7eb;
}

.slogan-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.slogan-content .slogan-text {
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.slogan-content .slogan-bottom{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #1f2937;
}
.slogan-content .author {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
}

.button-strt {
  background-color: #c2f4fb;
  border-radius: 100px;
  box-shadow: rgba(44, 182, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.2) 0 1px 2px,rgba(44, 182, 187, 0.2) 0 2px 4px,rgba(44, 182, 187, 0.2) 0 4px 8px,rgba(44, 182, 187, 0.2) 0 8px 16px,rgba(44, 182, 187, 0.2) 0 16px 32px;
  color: rgb(0, 98, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-strt:hover {
  box-shadow: rgba(44, 182, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.2) 0 1px 2px,rgba(44, 182, 187, 0.2) 0 2px 4px,rgba(44, 182, 187, 0.2) 0 4px 8px,rgba(44, 182, 187, 0.2) 0 8px 16px,rgba(44, 182, 187, 0.2) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.button-strt-2 {
    background-color: rgb(128, 177, 245);
    border-radius: 100px;
    box-shadow: rgba(44, 182, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.2) 0 1px 2px,rgba(44, 182, 187, 0.2) 0 2px 4px,rgba(44, 182, 187, 0.2) 0 4px 8px,rgba(44, 182, 187, 0.2) 0 8px 16px,rgba(44, 182, 187, 0.2) 0 16px 32px;
    color: rgb(0, 98, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-strt-2:hover {
    box-shadow: rgba(44, 182, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.2) 0 1px 2px,rgba(44, 182, 187, 0.2) 0 2px 4px,rgba(44, 182, 187, 0.2) 0 4px 8px,rgba(44, 182, 187, 0.2) 0 8px 16px,rgba(44, 182, 187, 0.2) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  .button-strt-3 {
    border-radius: 100px;
    border: 3px solid rgb(128, 177, 245);
    color: rgb(0, 98, 128);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    outline-style:initial;
  }
  
  .button-strt-3:hover {
    box-shadow: rgba(44, 182, 187, 0.2) 0 -25px 18px -14px inset,rgba(44, 182, 187, 0.2) 0 1px 2px,rgba(44, 182, 187, 0.2) 0 2px 4px,rgba(44, 182, 187, 0.2) 0 4px 8px,rgba(44, 182, 187, 0.2) 0 8px 16px,rgba(44, 182, 187, 0.2) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
.button-card-r{
    border-radius: 100px;
}

.arrow {
    border: solid rgb(0, 98, 128);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .card-indigo{
    background:  linear-gradient(rgb(128, 177, 245), rgb(149, 187, 245), rgb(159, 197, 245));
  }

  .card-cyan{
    background:  linear-gradient(rgb(194, 244, 251), rgb(165, 240, 250), rgb(135, 244, 251));
  }
.font-resizing{
    font-size:25px;
}
