{% extends 'base.html' %}
 
{% block body %}
<!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
<div class="wrapper">

    <div class="care-conteiner">
        <div class="title"><h2>Уход за домашней кошкой</h2></div>
        <img src="./static/images/care-img.jpg" alt="#">
        <p>Кошки – чистоплотные животные. Они вылизывают шерсть, а также стремятся к тому, чтобы содержать в порядке свое место. Но, какими бы сознательными не были усатые любимцы, без нашей помощи они не справятся.</p>
        <div class="sub_title">Правила ухода за кошками</div>
        <p>Уход за домашними кошками начинается с постели, кроватки, где будет спать животное.
Постель должна находиться в теплом месте подальше от сквозняков.</p>
        <div class="sub_title">Кошачий туалет</div>
        <p>Обустройте кошачий туалет так, чтобы кошке было удобно и никто ее не беспокоил. Подберите наполнитель для лотка. Например, для длинношерстных кошек лучше выбирать крупные гранулы, которые не прилипнут к шерсти. Своевременно убирайте за питомцем.
Если в доме две кошки, то для каждой нужен свой лоток.</p>
        <div class="sub_title">Питание кошек</div>
        <p>Мурлыкам ни в коем случае нельзя давать еду со стола, как бы они не просили. Если наш организм спокойно переносит сладкое, соленое и острое, то для кошек такой набор может привести к болезнямi.

Правильное питание кошек должно быть грамотно составленным и сбалансированным. Вы можете кормить животное натуральным или профессиональным кормом.

Если вы выбрали профессиональный корм, старайтесь не экономить. Дешевые корма не способствуют долголетию и здоровью кошекii. Соблюдайте дозировки, которые написаны на упаковке. В случае выбора натурального питания придется самостоятельно составить меню питомца: рацион должен быть сбалансирован, в него нужно включить продукты с полезными веществами, необходимыми для здоровья животного.

Если профессиональные корма обогащены витаминно-минеральными комплексами, то в вашем случае об этих полезных составах придется задуматься самим.

Котят кормят 5-6 раз в день, а с года – 2-3 раза в день.

Если будете соблюдать режим кормления, то кошка не будет мучить вас мяуканьем и привыкнет принимать еду в определенное время.

Следите за тем, чтобы у кошки была в миске чистая вода и меняйте ее раз в день.</p>
        <div class="sub_title">Уход за шерстью кошки и купание</div>
        <p>Если у питомца длинная шерсть, то придется вычесывать ее каждый день специальной щеткой. При короткой шерсти кошку протирают мокрой губкой.

Мыть животное нужно 2-3 раза в год или в случае необходимости.

Для вашего удобства предлагаем простой чек-лист, чтобы ничего не забыть и обеспечить грамотный уход за любимцем.</p>
        <div class="sub_title">Каждодневно:</div>
        <ul>
            <li> кормить, поить, менять воду в миске;</li>
            <li> чистить лоток;</li>
            <li> вычесывать длинношерстных кошек;</li>
            <li> играть. Не забывайте порадовать себя и питомца веселыми играми.</li>
        </ul>
        <div class="sub_title">Раз в неделю:</div>
        <ul>
            <li> проводите чистку зубов;</li>
            <li> осматривайте уши и глаза на предмет выделений. При необходимости – делайте это чаще. Например, персидским кошкам нужно очищать глаза почти каждый день.</li>
        </ul>
        <div class="sub_title">Раз в месяц:</div>
        <ul>
            <li> стригите ногти;</li>
            <li> подстригайте лишнюю шерсть у длинношерстных кошек.</li>
        </ul>
        <div class="sub_title">Раз в три месяца:</div>
        <ul>
            <li> обработайте животное глистогонными средствами и против блох и клещей.</li>
        </ul>
        <div class="sub_title">Раз в год:</div>
        <ul>
            <li> проверяйте общее состояние здоровья кошки и сделайте прививки.</li>
        </ul>
        <p>Заботьтесь о любимце, правильно кормите, играйте. Тогда счастливый и здоровый питомец проживет с вами долгие годы, возможно, даже побьет все рекорды по долголетию.</p>
    </div>
    <br>
</div>

{% endblock %}