{% extends 'base.html' %}

{% block body %}

<section class>
	<div class="container mt-3">

		<div class="row">
			<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="gallery-title">Галерея</h1>
			</div>

			{% for path in paths %}
				<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cat-type-A" data-category="cat-type-A">
					<a data-lightbox="image-1">
						<img src="{{ path }}" alt="img-1" class="img-responsive img-fluid">
					</a>
				</div>
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}