{% extends 'base.html' %}

{% block body %}
<!-- Page content -->
	<div class="content">

		<div class="wrapper">

			<div class="page_title">
				<h1>Галерея</h1>
			</div>

			<div class="container">

				<div class="categories">


					<div class="categories__1 category">

						<a href="#" class="category__title"> Наши Коты</a>
						<div class="category__content">
							<a href="#"><img src="/img/Cats_old/Timmy.jpg" alt=""></a>
						</div>

					</div>

					<div class="categories__2 category">

						<a href="#" class="category__title">Наши Кошки</a>
						<div class="category__content">
							<a href="#"><img src="/img/Cats_old/Felicia.jpg" alt=""></a>
						</div>

					</div>

					<div class="categories__3 category">

						<a href="" class="category__title">Наши котята</a>
						<div class="category__content">
							<a href=""><img src="/img/kittens/cayenne.png" alt=""></a>
						</div>

					</div>

					<div class="categories__4 category">

						<a href="" class="category__title">Наши выпускники</a>
						<div class="category__content">
							<a href=""><img src="img/vupysk.png" alt=""></a>
						</div>

					</div>

					<div class="categories__5 category">

						<a href="" class="category__title"></a>
						<div class="category__content">
							<a href=""><img src="" alt=""></a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}