<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Кусь</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Питомцы
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Кошки</a>
                    <a class="dropdown-item" href="#">Коты</a>
                    <a class="dropdown-item" href="#">Котята</a>
                </div>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="#">Покупателям</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="#">Галерея</a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="#">Статьи</a>
            </li>
            
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Локализация <!-- TODO: сделать выбор языка Локализация  -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Українська</a>
                <a class="dropdown-item" href="#">Руский</a>
                <a class="dropdown-item" href="#">English</a>
                </div>
            </li>
        </ul>
        
        <button type="button" class="btn btn-primary" id="navbar_login_button">Login</button>
        <button type="button" class="btn btn-info" id="navbar_register_button">Register</button>
    </div>
</nav>
