<section class="vh-100 gradient-custom" id = "register_section" style="z-index:5;">
   <div class="exit-reg-bg"></div>
    <div class="container py-5 h-100" >
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <div class="reg-close-icon">
                <a>x</a>
              </div>
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form action="/register" method="post">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="first_name" class="form-control form-control-lg" name='first_name'/>
                      <label class="form-label" for="first_name">First Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="last_name" class="form-control form-control-lg" name='last_name'/>
                      <label class="form-label" for="last_name">Last Name</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <label for="birthday">Birthday: </label>

                    <input type="date" id="birthday" name="birthday">
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="femaleGender"
                        value="female" checked />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="maleGender"
                        value="male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="email" class="form-control form-control-lg" name="email" />
                      <label class="form-label" for="email">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" id="phone_number" class="form-control form-control-lg" name="phone_number" />
                      <label class="form-label" for="phone_number">Phone Number</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                    <div class="col-md-12 md-16 mb-4 pb-2">
                        <div class="form-outline">
                          <input type="tel" id="city" class="form-control form-control-lg" name="city" />
                          <label class="form-label" for="city">City</label>
                        </div>
                    </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
